body{
    margin: 0;
    padding: 0;
}

.navbar p{
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #FDFDFD;
}

.hamburger {
    display: none;
}


menu {
    display: flex;
    flex-direction: row;
    padding: 0em;
}

menu li {
    background-color: rgb(217, 217, 217);
    padding: 0.25em 1em;
    border-radius: 1em;
    margin: 0.5em;
    list-style: none;
    min-width: 5em;
    text-align: center;
}

menu a{
    color: #000;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 768px){
    .navbar{
        padding: 0.5em;
    }

    menu li {
        min-width: 10em;
    }

    .menu-toggle{
        display: none;
    }

    .navbar:has(.checkbox:checked) .menu-toggle{
        display: block;
    }
    .checkbox {
        display: none;
    }

    .hamburger {
        --line: 8px;
        display:block;
        width: 40px;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        gap: var(--line);
    }
    .hamburger span {
        height: var(--line);
        width: 100%;
        background-color: #000;
        border-radius: calc(var(--line) / 2);
        transition:  transform 1s, opacity 0.5s, translate 0s 0s;
        transform-origin: center;
    }

    .navbar:has(.checkbox:checked)
    .hamburger span:nth-of-type(1){
        transform: translateY(200%) rotate(45deg);
    }
    .navbar:has(.checkbox:checked)
    .hamburger span:nth-of-type(2){
        opacity: 0;
    }
    .navbar:has(.checkbox:checked)
    .hamburger span:nth-of-type(3){
        transform: translateY(-200%) rotate(-45deg);
    }
}

.hero {
    background-image: url('images/hotel.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
}

.hero p {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    z-index: 1; /* Zajistí, aby text byl nad obrázkem */
}

.hero .subheading {
    text-align: center;
    position: absolute;
    top: 70%; /* Upravte vertikální pozici podle potřeby */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px; /* Upravte velikost písma podle potřeby */
    color: white;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .hero .subheading {
        top: 85%; /* Upravte vertikální pozici pro menší obrazovky */
    }
}